
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 400px;
  height: 450px;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;

}

.All{
  margin-left: 300px;
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;

}
img{
  height: 60%;
  width:200px;

}

.Big{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.two{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 1300px;


}

.one{

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  height: 380px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid black;



}
